#grid{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
    border: 1px solid black;
}
.pixel{
    height: 23.33px;
    width: 23.33px;
    /* border: 1px solid black; */
    box-sizing: border-box;
}