html{
    background-color: darkorchid;
}
.main , #menu{
    display: flex;
    
}
.main{
    flex-direction: column;
    align-items: center;
    background-color: darkorchid;
    
}
#menu{
    gap: 20px;
}
#prop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

#grid{
    display: grid;
    grid-template: repeat(16,1fr) / repeat(16,1fr) ;
    height: 550px;
    width: 550px;
    
}
.pixel{
    box-sizing: border-box;
    background-color: white;
}